.overlay {
    position: fixed;
    top:0;
    left: 0;
    width: 75%;
    height: 16%;
    background-color: black;
    opacity: 0.85;
    z-index: 100;
}
.first-line-on-overlay p  {
   color: gainsboro;
    display: inline-block;
    font-family: sans-serif;
    margin-top: 15px;

}
#number-on-overlay {
    margin-left: 150px;
    margin-top: 5px;
    font-size: 20px;
}
#schedule-on-overlay {
    font-size: 13px;
    margin-left: 30px;
}

#free-delivery-on-overlay {
    margin-left: 60px;
    font-size: 20px;
}

#button-log-in {
    position: absolute;
    margin-top: 5px;
    margin-right: 10px;
    top: 0;
    right: 0;
    color: white;
    background-color: goldenrod;
    border-color: goldenrod;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 15px;
}

#pizza-on-overlay {
    color: white;
    margin-left: 150px;
    font-size: 20px;
}

.badge-up {
    top: 0;
    position:  fixed;
    background: darkorange;
    text-transform: uppercase;
    left: 20px;
    bottom: 0;
    width: 100px;
    height: 120px;
    border-bottom: 20px solid #eeee;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    z-index: 101;
}
.badge-up p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.text-pizza-badge {
    padding-top: 20px;
    font-size: 20px;
}
.text-kma-badge {
    font-size: 25px;
}

#hr-overlay {
    color: gainsboro;
    margin-left: 150px;
    margin-top: 1px;
}

@media (max-width: 1300px) {
    #free-delivery-on-overlay {
        display: none;
    }
}
@media (max-width: 850px) {
    #schedule-on-overlay {
        display: none;
    }
}
